{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/index1.css' %}">
    <title>Manicure y Pedicure.</title>
</head>
<body>
    <header class="header1">
        <div class="menu">
            <img src="{% static 'core/img/logoo3.png' %}" alt="logo">

            <nav class="nav1">
                <ul>
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="">Servicios</a>
                    <ul>
                        <li><a href="{% url 'index1' %}">Manicure y Pedicure</a></li>
                        <li><a href="{% url 'maquillaje' %}">Maquillaje</a></li>
                    </ul>
                    </li>
                    <li><a href="">Reservaciones</a>
                    <ul>
                        <li><a href="{% url 'login' %}">Solicitar Cita</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div id="services" class="page"> 
            <h1>Manicure y Pedicure</h1>

        <div class="services-grid">
            <div class="service-card">
                <img src="{% static 'core/img/clasica.jpeg' %}" alt="Manicura Clasica">
                <h3>Manicura Clasica</h3>
                <p>Limado, pulido, cuticula y esmalte tradicional. Incluye hidratacion en manos y masajes relajantes.</p>
                <p class="precio">$15</p>
            </div>

            <div class="service-card">
                <img src="{% static 'core/img/gel.jpeg' %}" alt="Manicura Gel.">
                <h3>Manicura en Gel</h3>
                <p>Esmaltado semipermanente, que dura hasta 3 semanas. Acabado brillante y resistente a golpes.</p>
                <p class="precio">$25</p>
            </div>

            <div class="service-card">
                <img src="{% static 'core/img/acrilicas.jpeg' %}" alt="Manicura Acrilicas">
                <h3>Uñas Acrilicas</h3>
                <p>Extensiones y esculpido de uñas con acrilico. Diseño personalizados segun tus preferencias.</p>
                <p class="precio">$30</p>
            </div>

            <div class="service-card">
                <img src="{% static 'core/img/pedicure.jpeg' %}" alt="Pedicura">
                <h3>Pedicure</h3>
                <p>Incluye esmaltado semipermanente y masaje.</p>
                <p class="precio">$15</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-column">
            <h2>Contactanos</h2>
        <ul>
            <li>Email:an_studio@gmail.com</li>
            <li>Telefono: 0412 0697586</li>
            <li>Direccion: Calle Principal.</li>
        </ul>
        </div>
        
        <div class="footer-column">
            <h3>Siguenos</h3>
        <ul>
            <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
        </ul>
        </div>
    <a href="#" id="btn-arriba">↑</a>
    </footer>

</body>
</html>