{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        <nav><a href="{% url 'index' %}">Volver</a></nav>
    </header>
    <section class="main">

        <figure class="main__figure">
            <img src="{% static 'core/img/login1.png' %}" class="main__img">
        </figure>

        <div class="main__contact">
            <h2 class="main__title">¡Hola de nuevo!</h2>
            <p class="main__paragraph">¡Bienvenidas cuanto tiempo!</p>

            <form class="main__form">

                {{ form.username }}

                {{ form.password}}

                <input type="submit" value="Iniciar Sesion" class="main__input main__input--send">

            </form>
            <p> ¿Es la primera vez que estas aqui?</p>
            <p class="main__paragraph"><a href="{% url 'registro' %}">Crea una cuenta</a></p>

            <article class="main__social">
                <a href="#" class="main__link">
                    <img src="{% static 'core/img/panorama.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/cromo.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/logotipo-de-apple.png' %}" class="main__icon">
                </a>
            </article>
        </div>
    </section>

</body>
</html>