{% extends "core/base.html" %}
{% load static %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'core/css/maquillaje.css' %}">
    {{ block.super }}
{% endblock css_styles %}

{% block title %}Maquillaje Profesional{% endblock %}

{% block content %}
    <div id="services" class="page"> 
        <h1>Maquillaje Profesional</h1>
        {% if services %}
            {% for s in services %}
            <a href=" {% url 'service_detail' id=s.id %}">
                {% include "core/includes/service_card.html" %}</a>
            {% endfor %}

        {% else %}
            <p> No hay servicios disponibles. </p>
        {% endif %}

        <p>
            <a href=" {% url 'service_create' %}" class="button-create">Crear Servicios </a>
        </p>
        
    </div>
{% endblock %}
