{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{% static 'core/css/registro.css' %}">
</head>
<body>
    <header>
        <nav><a href="{% url 'login' %}">Volver</a></nav>
    </header>
    <section class="main">

        <figure class="main__figure">
            <img src="{% static 'core/img/login1.png' %}" class="main__img">
        </figure>

        <div class="main__contact">

            <h2 class="main__title">¡Bienvenido!</h2>
            <p class="main__paragraph">¡Registrate aqui!</p>

            <form  method="post" action="{% url 'registro' %}" class="main__form">
                {% csrf_token %}

                {{ form.username }}

                {{ form.email }}

                {{ form.password }}

                {{ form.password_confirm }}

                {% if form.errors %}
                    <ul style="color : red;">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <button type="submit" class="main__input main__input--send">Registrarme</button>

            </form>
            <p>¿Ya estas registrado?</p>
            <p class="main__paragraph"><a href="{% url 'login' %}">Inicia Sesion</a></p>

            <article class="main__social">

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/panorama.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/cromo.png' %}" class="main__icon">
                </a>

                <a href="#" class="main__link">
                    <img src="{% static 'core/img/logotipo-de-apple.png' %}" class="main__icon">
                </a>

            </article>

        </div>

    </section>
</body>
</html>

