{% extends "core/base.html" %}
{% load static%}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'core/css/reservacion.css' %}">
    {{ block.super }}
{% endblock css_styles %}

{% block content %}

<form method="post" action="{% url 'reservacion' %}">
    {% csrf_token %}
    <fieldset>
    <div id="reservacion" class="page">
        <div class="reservacion-from">
            <h2>Agendar cita</h2>

            <div class="form-group">
                <label for="services">Selecciona los Servicios:</label>
                <select id="services" name="services" multiple required>
                    {% for service in services %}
                        <option value="{{service.id}}">{{ service.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="reservation_date">Fecha Preferida</label>
                <input type="date" id="reservation_date" name="reservation_date" 
                    min= "{{ today }}" required>
            </div>

            <div class="form-group">
                <label for="reservation_time">Hora Preferida</label>
                <input type="time" id="reservation_time" name="reservation_time" required>
            </div>

            <dialog id="modal">
                <p>Su cita fue agendada con exito</p>
                <p>Fecha: </p>
                <p>Hora: </p>
                <form method="dialog">
                    <button>Salir</button>
                </form>
            </dialog>

            <button onclick="document.getElementById('modal').showModal()" type="submit" class="submit-btn">Reservar Cita</button>
</form>
        </div>
    </div>
{% endblock %}