{% extends "core/base.html" %}
{% load static%}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'core/css/reservacion.css' %}">
    {{ block.super }}
{% endblock css_styles %}

{% block content %}

<form method="post" action="{% url 'service_create' %}">
    <fieldset>
    {% crsf_token %}
    <div id="reservacion" class="page">
        <div class="reservacion-from">
            <h2>Agendar cita</h2>

            <div class="form-group">
                <label for="service-type" required>Tipo de Servicio</label>
                <select name="service-type" id="service-type">
                    <option value="">Selecciona un Tipo de Servicio</option>
                    <option value="Manicura">Manicura</option>
                    <option value="Manicura">Pedicure</option>
                    <option value="Manicura">Maquillaje</option>
                <!-- <button type="submit" class="submit-btn1">Manicura</button>
                <button type="submit" class="submit-btn1">Pedicure</button>
                <button type="submit" class="submit-btn1">Maquillaje</button> -->
                </select>
            </div>

            <div class="form-group">
                <label for="service">Servicio</label>
                <select id="service" name="service" required>
                    <option value="">Selecciona un servicio</option>
                    <option value="manicura-clasica">Manicura Clásica</option>
                    <option value="manicura-gel">Manicura en Gel</option>
                    <option value="manicure-jellytips">Uñas Jelly Tips</option>
                    <option value="unas-acrilicas">Uñas Acrílicas</option>
                    <option value="unas-poligel">Uñas en Poligel</option>
                    <option value="pedicura-spa">Pedicura Clasica</option>
                    <option value="pedicura-semipermanente">Pedicura Semipermanente</option>
                    <option value="nail-art">Maquillaje Profesional</option>
                </select>
            </div>

            <div class="form-group">
                <label for="date">Fecha Preferida</label>
                <input type="date" id="date" name="date" required>
            </div>

            <div class="form-group">
                <label for="time">Hora Preferida</label>
                <input type="time" id="time" name="time" required>
            </div>

            <dialog id="modal">
                <p>Su cita fue agendada con exito</p>
                <p>Fecha: </p>
                <p>Hora: </p>
                <form method="dialog">
                    <button>Salir</button>
                </form>
            </dialog>

            <button onclick="document.getElementById('modal').showModal()" type="submit" class="submit-btn">Reservar Cita</button>
</form>
        </div>
    </div>
{% endblock %}