<div id="modal-{{ s.id }}" class="modal-overlay">
    <section class="modal-content">
        {% if s.servicereservation_set.all %}
            <div class="modal-buttons">
                <p>No se puede eliminar el servicio</p>
                <a href="#" class="button-cancel">Cancelar</a>
            </div>    
        {% else %}
            <h1>¿Estás seguro de que quieres eliminar "{{ s.name }}"?</h1>
            <p>Esta acción no se puede deshacer.</p>

            <form method="post" action="{% url 'service_delete' id=s.id %}">
                {% csrf_token %}
                <div class="modal-buttons">
                    <button type="submit" class="button-delete">Eliminar</button>
                    <a href="#" class="button-cancel">Cancelar</a>
                </div>
            </form>
        {% endif %}
    </section>
</div>

