{% extends "core/base.html" %}
{% load static %}

{% block css_styles %}
<!--no te olvides de poner el css que te envie aqui-->
<link rel="stylesheet" href= "{% static 'core/css/formulario_registro.css' %}">

{% endblock css_styles %}

{% block title %} Registro de Servicio {% endblock %}

{% block header %}

{% endblock %}
{% block content %}
<section class="main">
        <figure class="main__figure">
            <img src="{% static 'core/img/login1.png' %}" class="main__img" alt="">
        </figure>

        <div class="main__contact">
            <h2 class="main__title">Nuevo Servicio</h2>
            <p class="main__paragraph">Ingresa los datos del servicio</p>
            <form class="main__form" method="POST" enctype="multipart/form-data" action="{% url 'service_create' %}">
                {% csrf_token %}

                <input type="text" name="name" placeholder="Nombre del servicio: " class="main__input" required>
                <textarea name="description" placeholder="Descripcion del servicio:" class="main__input" required></textarea>
                <input type="text" id="price" name="price" placeholder="Precio" class="main__input" required>

                <input type="file" name="image" id="image" class="main__input" required>

                <select id="service_type" name="service_type" class="main__input" required>
                    {% for service_type_obj in service_types %}
                        <option value="{{ service_type_obj.id }}" {% if service_type_obj.id == service_type_id|add:"0" %}
                        selected{% endif %}>{{ service_type_obj }}</option>
                    {% endfor %}
                </select>

                <input type="submit" value="Registrar servicio" class="main_input main_input--send">
            </form>
        </div>
    </section>
{% endblock %}
