* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

/*Header*/

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    align-items: center;
    background-color: lightcoral;
    padding: 70px 0 0 0; 
}

.menu img{
    width: 200px;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f74780;
}

.logo { 
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    font-weight: 800 ;
}
ul ol {
    list-style: none;
}

.nav1 ul li {
    position: relative;
    float: left;
    padding: 10px, 15px;
    display: block;
    background-color: #f74780;
}

.menu .nav1 ul li a {
    font-size: 20px;
    padding: 20px;
    color: black;
    display: block;
}

.nav1 li a {
    padding: 10px, 15px;
    display: block;
}

.menu .nav1 ul li a:hover {
    color: lightpink;
}

.nav1 > li {
    float: left;
}

.nav1 li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav1 li:hover > ul {
    display: block;
}

.nav1 li ul li{
    position: relative;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
} 


/*footer*/
.footer {
    background-color: #ffe5f0;
    padding: 10px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    color: #f74780;
    font-size: 18px;
    margin-bottom: 25px;
}

.link a {
    color: black;
    display:  block;
    margin-bottom: 20px;
}

.link a:hover {
    color: #f74780;
}

@media (max-width:991px) {
    .footer {
        padding: 20px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}
