{% load static %}
{% block css_styles %}
    <link rel="stylesheet" href="{% static 'core/css/service_card.css' %}">
{% endblock css_styles %}

<div class="service-card">
    {% if s.image %}
        <img src="{{ s.image.url }}" alt="Imagen de {{ s.name }}">
    {% else %}
        <p> Imagen no disponible. </p>
    {% endif %}
    
    <h3> {{ s.name }} </h3>
    <p> {{ s.description }}</p>
    <p class="precio"> ${{ s.price }}</p>
    
    <a href="{% url 'service_update' id=s.id %}" class="button-update">Actualizar</a>
    
    <a href="#modal-{{ s.id }}" class="button-delete">Eliminar</a>

    {% include "core/service_confirm_delete.html" with s=s %}
</div>
